﻿@model  IEnumerable<FashionLodge.Entities.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <form method="post">
        <input id="searchTxt" name="search" />
        <button type="button" id="searchBtn">Search</button>
    </form>
    <button type="button" id="newBtn">New</button>
</div>

<div>
    <table class="table">
        <tr>
            <th>
                Product
            </th>
            <th>
                Category
            </th>
            <th>
                Price
            </th>
            <th>
                Actions
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Category.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    <button>Edit</button> | <button>Delete</button>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })*@
                </td>

            </tr>
        }

    </table>
</div>
<h2>Create Product</h2>

<form method="post" action="~/Product/Create">
    <label>Name</label>
    <input name="Name" />
    <br />
    <label>Description</label>
    <input name="Description" />
    <br />
    <label>Price</label>
    <input name="Price" />
    <br />
    <label>Category</label>
    <select name="CategoryID">
        <option value="1">footwear</option>
        <option value="3">headware</option>
        <option value="5">underwaer</option>
        <option value="6">outware</option>
    </select>
    <br />
    <button type="submit">Save</button>
</form>


<script type="text/javascript">
    $("#searchBtn").click(function () {
        var searchVal = $("#searchTxt").val();
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchVal
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    })

</script>


