﻿@model FashionLodge.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>
    Delete
</h2>
<h1>Are  you sure you want to delete this category</h1>
<form method="post">
    <input type="hidden" name="CategoryID" value="@Model.CategoryID" />
   
    <button type="submit" class="btn btn-primary">Delete</button>
</form>
<a href="/Index">Cancel</a>
