﻿@model FashionLodge.Entities.Category
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form method="post">
    <input type="hidden" name="CategoryID" value="@Model.CategoryID" />
    <label>Name</label>
    <input name="Name" value="@Model.Name" />
    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
</form>
